<header>
  <nav b-bddmc6yalx
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div b-bddmc6yalx class="container-fluid">
    <a class="navbar-brand" href="/"><i b-bddmc6yalx class="fas fa-clipboard-list"></i></a>
    <button b-bddmc6yalx class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span b-bddmc6yalx class="navbar-toggler-icon"></span>
    </button>
    <div b-bddmc6yalx class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      <ul b-bddmc6yalx class="navbar-nav flex-grow-1">
        <li b-bddmc6yalx class="nav-item">
          <a class="nav-link text-dark" href="/">Home</a>
        </li>
        <li b-bddmc6yalx class="nav-item">
          <a class="nav-link text-dark" href="/todo">ToDo</a>
        </li>
        <li b-bddmc6yalx class="nav-item">
          <a class="nav-link text-dark" href="/home/privacy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</header>
